@clc_bck:#f1f1f1;
@clc_blue:#1890ff;
@clc_border:#e1e1e1;
@clc_grey:#bbb;

.page_dea{
  margin: 0 auto;

  ul{
    margin: 0;
  }
  li{
    list-style: none;
  }
  .green{
    color: #3eb645;
  }
  .red{
    color: #f00;
  }


  header{
    &>.ico_arrow{
      width: 0;
      height: 0;
      border-left: 5px solid #000;
      border-top: 5px solid #000;
      border-bottom: 5px solid transparent;
      border-right: 5px solid transparent;
      transform: rotate(45);
    }
  }

  //alert头部信息
  .ant-alert-message > div {
    display: flex;
    justify-content: space-around;
    font-size: 0.9rem;
  }

  .hd_des{
    display: flex;
    height: 36px;
    line-height: 36px;
    font-size: 0.9rem;
    border-bottom: 1px solid #91d5ff;

    >div{
      flex-grow: 1;
      text-align: center;
      background-color: #e6f7ff;

      +div{
        border-left: 1px solid #91d5ff;
      }
    }
  }

  .list_hd{
    display: flex;
    padding: 5px;
    font-size: 0.9rem;

    color: #1890ff;
    border-radius: 3px;
  }

  .list_bd{
    margin: 5px 0;
  }

  .list_item{
    display: flex;
    padding: 0 5px;
    font-size: .9375rem;
    min-height: 36px;

    &+.list_item{
      margin-top: 5px;
    }
  }

  .list_hd,.list_item{
    &>li{
      text-align: center;
      display: block;
      width: 25%;
    }
  }

  //图标
  .item{
    max-width: 32px;
    width: 100%;
    display: inline-block;
  
    &>img{
      width: 100%;
    }
  }
}