@clc_bck:#f1f1f1;
@clc_blue:#1890ff;
@clc_border:#e1e1e1;
@clc_grey:#bbb;

.page_dea{
  margin: 0 auto;

  ul{
    margin: 0;
  }
  li{
    list-style: none;
  }
  .green{
    color: #3eb645;
  }
  .red{
    color: #f00;
  }


  //课程详情
  header{
    position: relative;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: start;

    //箭头
    &>:nth-child(1)>svg{
        font-size: 24px;
    }

    //字段
    &>:nth-child(2){
      width: 160px;
      position: absolute;
      font-weight: 700;
      font-size: 1.6rem;
      left: 50%;
      margin: 0 0 0 -80px ;
      text-align: center;
    }
  }

  //alert头部信息
  .ant-alert-message > div {
    display: flex;
    justify-content: space-around;
    font-size: 1.2rem;
  }

  //头部基本信息2行
  .hd_des{
    display: flex;
    font-size: 1.2rem;
    border-bottom: 1px solid #91d5ff;
    background-color: #e6f7ff;

    >div{
      flex-grow: 1;
      text-align: center;
      padding: 5px 3px;

      +div{
        border-left: 1px solid #91d5ff;
      }
    }
  }

  .list_hd{
    display: flex;
    padding: 5px;
    font-size: 1.2rem;
    height: 40px;

    // color: #1890ff;
    border-radius: 3px;
  }

  .list_bd{
    margin: 5px 0;
  }

  .list_item{
    display: flex;
    padding: 0 5px;
    font-size: 1.1rem;
    min-height: 36px;
    align-items: center;

    &+.list_item{
      margin-top: 5px;
    }
  }

  .list_hd,.list_item{
    &>li{
      text-align: center;
      display: block;
      width: 25%;
    }
  }

  //图标
  .item{
    max-width: 32px;
    width: 100%;
    display: inline-block;
  
    &>img{
      width: 100%;
    }
  }
}