@clc_blue: #1890ff;
@clc_border: #e1e1e1;
body {
  font-family: 'Heiti SC', 'Droidsansfallback', 'Helvetica Neue', Helvetica,
    ans-serif;
}
html {
  font-size: 12px;
}

.page_init {
  box-sizing: border-box;
  max-width: 1000px;
  min-width: 280px;
  margin: 0px auto;
  height: 100vh;
  padding: 1rem;

  .item + .item {
    margin-top: 1px;
  }

  //头部以下内容
  .m_body {
    //历的头部信息盒子
    .m-calHeader {
      padding-top: 8px;
      display: flex;
      justify-content: space-between;

      //用户图标盒子
      .icon_box {
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .ant-picker-panel {
      border: 0;
    }

    //日历中每格日期的样式
    .ant-picker-cell {
      padding: 0;

      //每一个100%占比
      .ant-picker-cell-inner {
        display: block;
        width: auto;
        height: auto;

        // 去掉伪类before
        &::before {
          content: none;
        }
      }

      //每个内容高度
      .ant-picker-calendar-date-content {
        height: calc((100vh - 321px) / 6);
        overflow-y: auto;
        text-align: left;
      }
    }

    //选中日期的样式
    .ant-picker-cell-selected {
      background-color: #e6f7ff;

      .ant-picker-cell-inner {
        background: none;
        color: #1890ff;
        padding: 0 5px;

        &::before {
          border: none;
        }
      }
    }

    table {
      // 日历表的外框
      border-radius: 10px;
      border-style: hidden;
      box-shadow: 0 0 0 1px @clc_border;

      //日历表的分割线
      thead {
        border-bottom: 1px solid @clc_border;

        & > tr {
          height: 32px;
          th + th {
            border-left: 1px solid @clc_border;
          }
        }
      }
      td + td {
        border-left: 1px solid @clc_border;
      }
      tr + tr {
        border-top: 1px solid @clc_border;
      }
    }
  }
}

@media screen and (min-width: 321px) and (max-width: 414px) {
  html {
    font-size: 14px;
  }
}
@media screen and (min-width: 415px) and (max-width: 639px) {
  html {
    font-size: 15px;
  }
}
@media screen and (min-width: 640px) and (max-width: 1200px) {
  html {
    font-size: 16px;
  }
}
