@clc_blue: #1890ff;
@clc_border: #e1e1e1;
body {
  font-family: 'Heiti SC', 'Droidsansfallback', 'Helvetica Neue', Helvetica,
    sans-serif;
}
html {
  font-size: 12px;
}

.page_inityuan {
  box-sizing: border-box;
  max-width: 1000px;
  min-width: 280px;
  margin: 0px auto;
  height: 100vh;
  padding: 1rem;

  //alert头部信息
  .ant-alert-message > div {
    display: flex;
    justify-content: space-around;
    font-size: 1.2rem;
  }

  //头部以下内容
  .m_body {
    //历的头部信息盒子
    .m-calHeader {
      padding-top: 8px;
      display: flex;
      justify-content: space-between;

      //用户图标盒子
      .icon_box {
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      //日期选择器的字体大小
      .ant-select-selector {
        font-size: 1.4rem;
      }

      //添加按钮
      .add_icon {
        background-color: @clc_blue;
        color: #fff;
        border: 0;
        z-index: 100;
        height: 40px;
        font-size: 1.2rem;
      }

      .cannot_add {
        background-color: #e1e1e1;
      }
    }

    .ant-picker-panel {
      border: 0;
    }

    //日历中每格日期的样式
    .ant-picker-cell {
      padding: 0;

      //每一个100%占比
      .ant-picker-cell-inner {
        display: block;
        width: auto;
        height: auto;

        // 去掉伪类before
        &::before {
          content: none;
        }
      }

      //每个内容高度
      .ant-picker-calendar-date-content {
        height: calc((100vh - 321px) / 6);
        overflow-y: auto;
        text-align: left;
      }
    }

    //选中日期的样式
    .ant-picker-cell-selected {
      background-color: #e6f7ff;

      .ant-picker-cell-inner {
        background: none;
        color: #1890ff;

        &::before {
          border: none;
        }
      }
    }

    table {
      // 日历表的外框
      border-radius: 10px;
      border-style: hidden;
      box-shadow: 0 0 0 1px @clc_border;

      //日历表的分割线
      thead {
        border-bottom: 1px solid @clc_border;

        & > tr {
          height: 32px;
          th + th {
            border-left: 1px solid @clc_border;
          }
        }
      }
      td + td {
        border-left: 1px solid @clc_border;
      }
      tr + tr {
        border-top: 1px solid @clc_border;
      }
    }

    // .ant-picker-calendar-header {
    //   // 居中显示日期选择器
    //   justify-content: center;

    //   .ant-select-selector {
    //     height: 45px;
    //   }

    //   // 日期选择器文字样式
    //   .ant-select-selection-item {
    //     font-weight: 500;
    //     font-size: 1.4rem;
    //     height: 45px;
    //     line-height: 45px;
    //   }

    //   & > div {
    //     width: 200px;
    //   }
    // }
  }

  //图标
  .item {
    max-width: 32px;
    width: 100%;
    display: inline-block;
    position: relative;
    padding: 1px;

    & > img {
      width: 85%;
    }

    & + .item {
      margin-top: 1px;
    }

    .signupNum {
      padding: 0px 1px;
      height: 12px;
      line-height: 12px;
      position: absolute;
      right: 0;
      top: 0;
      font-size: 0.8rem;
    }
  }
}

//移动端效果
@media only screen and (max-width: 600px) {
  .ant-drawer-content-wrapper {
    width: 100% !important;
  }
}

//抽屉
.ant-drawer-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px;

  > .btn_ope {
    display: flex;

    & > button {
      flex: 1;
      height: 45px;
      font-size: 1.2rem;
    }
  }
}

//隐藏 X 号
.ant-drawer-header-title > button {
  display: none;
}

//每个item的padding
.ant-form-item {
  margin: 0 0 15px;
}

//各项标题注释
.ant-form-item-label > label {
  font-weight: 600;
  font-size: 1.2rem;
}

//课程选择、时长撑满父组件
.ant-radio-group {
  display: flex;

  & > label {
    flex: 1;
    text-align: center;
    height: 45px;
    line-height: 45px;
    font-size: 1.2rem;
  }
}

//普通金额、人数居中
.ant-input-number-input-wrap > input {
  text-align: center;
  height: 45px;
  font-size: 1.2rem;
}

.ant-picker {
  width: 100%;
  height: 45px;

  & > .ant-picker-input > input {
    font-size: 1.2rem;
  }
}

.ant-input-affix-wrapper {
  width: 100%;
  height: 45px;
  & > input {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 321px) and (max-width: 414px) {
  html {
    font-size: 14px;
  }
}
@media screen and (min-width: 415px) and (max-width: 639px) {
  html {
    font-size: 15px;
  }
}
@media screen and (min-width: 640px) and (max-width: 1200px) {
  html {
    font-size: 16px;
  }
}
